

.u-wrapper {
    background-color: #BBDEFB;
    margin: 10px auto;
    padding: 0 1em;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    
  }
  
.form {
    max-inline-size: 550px;
    margin: auto;
  }

  .form h3{
    text-align: center;

    color:#424242;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
 .button{
   text-align: center;
   padding-bottom: 5px;
 }
  .contact {
    margin: 0 auto;
    margin-block-end: 4em;
    max-width: 100vh;

    
  }


  

  
  
 
  