.footer{
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: auto;   
    background-color: #9E9E9E;
}

.footer div  {
    color: #F5F5F5;

}
.footer div p {
    font-weight: 500;
    color: #F5F5F5;
}

